@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Syne", sans-serif;
  --font-mono: "Fira Code", ui-monospace, SFMono-Regular, monospace;
}
